@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

html {
    overflow-y: scroll;
}

body {
    font-family: Roboto;
    font-weight: 300;
}

@media (min-width:1910px) {
    .content {
        width: 60%;
        margin: 50px auto;
    }
}

@media (max-width:1910px) {
    .content {
        width: 90%;
        margin: 50px auto;
    }
}

.margin-100 {
    margin-top: 100px;
}

// MENU ==========================================


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logo {
    margin: 10px 0;
    padding: 5px 20px;
    text-align: center;
    color: #303d4d;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
}

.high-title,
.low-title {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}


.low-case-title {
    font-weight: 300;
    font-size: 3em;
}

.lower-title {
    margin-left: 20px;
}

.high-case-title {
    font-weight: 500;
    font-size: 3.4em;
    line-height: 10px;
}

.menu {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu nav ul {
    display: block;
    text-align: left;
    padding: 5px;
    margin: 5px 0;
} 

.menu nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.menu nav ul li a {
    color: #303d4d;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    padding: 4px 8px;
}

.menu nav ul li a:hover {
    color: #dc5263;
}

.menu nav ul li .active-item {
    font-weight: 500;
}


// POST ========================

.post {
    margin: 50px 0;
}

.post .user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .user .user-box {
    width: 90px;
    height: 90px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2em;
    background-color: #d79921;
    color: white;
    border-radius: 50%;
    font-family: "Cutive Mono";

}

.post .title {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}

.post .subtitle {
    font-weight: 500;
    font-size: 1em;
}

.post .content {
    text-justify: justify;
    font-size: 1em;
}

.post .date {
    text-align: center;
}

// writer =====================================

.writer .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.writer .login div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 10px 0;
}

.writer .login div input[type=text],
.writer .login div input[type=password] {
    padding: 5px;
}




