@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

html {
    overflow-y: scroll;
}

body {
    font-family: Roboto;
    font-weight: 300;
}

@media (min-width:1910px) {
    .content {
        width: 60%;
        margin: 50px auto;
    }
}

@media (max-width:1910px) {
    .content {
        width: 90%;
        margin: 50px auto;
    }
}

.margin-100 {
    margin-top: 100px;
}

.section-title {
    text-align: center;
    color: #303d4d;
    margin-bottom: 100px;
}

// MENU ==========================================


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.logo {
    margin: 10px 0;
    padding: 5px 20px;
    text-align: center;
    color: #303d4d;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex-direction: column;
}

.high-title,
.low-title {
    display:flex;
    flex-direction: row;
    align-items: baseline;
}


.low-case-title {
    font-weight: 300;
    font-size: 3em;
}

.lower-title {
    margin-left: 20px;
}

.high-case-title {
    font-weight: 500;
    font-size: 3.4em;
    line-height: 10px;
}

.menu {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu nav ul {
    display: block;
    text-align: left;
    padding: 5px;
    margin: 5px 0;
} 

.menu nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.menu nav ul li a {
    color: #303d4d;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    padding: 4px 8px;
}

.menu nav ul li a:hover {
    color: #dc5263;
}

.menu nav ul li .active-item {
    font-weight: 500;
}

// ABOUT =======================

.about {
    width:60%;
    margin: 0 auto;
}

// POSTS =======================

.posts {
    width:60%;
    margin: 0 auto;
}


// POST ========================

.post {
    margin: 50px 0;
}

.post .user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .user .user-box {
    width: 90px;
    height: 90px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2em;
    background-color: #d79921;
    color: white;
    border-radius: 50%;
    font-family: "Cutive Mono";

}

.post .title {
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
}

.post .subtitle {
    font-weight: 500;
    font-size: 1em;
}

.post .content {
    text-align: justify;
    font-size: 1em;
    width: 100%;
}

.post .date {
    text-align: center;
}

// writer =====================================

.writer {
    width:60%;
    margin: 0 auto;
}

.writer .login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.writer .login div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 10px 0;
}

.writer .login div input[type=text],
.writer .login div input[type=password] {
    padding: 5px;
    height: 20px;
}

.writer .login input[type=submit] {
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #303d4d;
    color: white;
    border-radius: 3%;
    outline: none;
    border: none;
}

.writer .login input[type=submit]:hover {
    background-color: #dc5263;
    color: white;

}

.writer .settings .alias {
    border-bottom: 1px solid #ddd;
}

.writer .settings .alias:first-of-type {
    border-top: 1px solid #ddd;
}

.writer .settings .alias .alias-settings {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
    margin: 0 10px;
}


.writer .settings .alias .alias-settings div:not(:last-child) {
    margin-right: 20px;
    
}

.writer .settings .alias .alias-settings div {
    color: black;
}

.writer .settings .alias .alias-settings div.alias-letter {
    width: 5%;
    text-align: center;
    margin-right: 10px;
}

.writer .settings .alias .alias-settings .alias-color {
    width: 6%;
    height: 19px;
    background-color: black;
    cursor: pointer;
}

// .writer .colorPicker {
//     position: absolute;
//     z-index: 1000;
// }

.writer .settings .alias .alias-settings .alias-description {
    width: 89%;
    height: 19px;
    overflow-y: hidden;
}

.writer .settings .alias .alias-settings .alias-options {
    width: 10%;
    text-align: right;
}

.writer .settings .alias .alias-settings .alias-options span {
    margin: 0 5px;
}


.writer .settings .alias .alias-settings .alias-options span.moreBt {
    color: #303d4d;
    cursor: pointer;
}

.writer .settings .alias .alias-settings .alias-options span.deleteBt {
    color: #dc5263;
    cursor: pointer;
}


.writer .settings .alias .alias-posts {
    display: none;
}








